<ion-navbar *navbar primary>
    <ion-title>GIF</ion-title>

    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
        <button (click)="addToFavourites()" *ngIf="!isFavourite">
            <ion-icon name="star-outline"></ion-icon>
        </button>

        <button (click)="removeFromFavourites()" *ngIf="isFavourite">
            <ion-icon name="star"></ion-icon>
        </button>

        <button (click)="share(item)">
            <ion-icon name="share"></ion-icon>
            Share
        </button>
    </ion-buttons>

</ion-navbar>

<ion-content>
    <img class="gif" [src]="gif.images.downsized.url"/>
</ion-content>
